@mixin bp($class) {
  @if $class == xs {
    @media (max-width: 480px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 481px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
