@import '../global/scss/mixins';

.app-container {
  max-width: none;
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;

  @include bp(sm) {
    max-width: 128rem;
    padding: 0 8rem;
  }
}

.block-container {
  display: flex;
  flex-wrap: wrap;

  @include bp(md) {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
