<div class="app-container">
  <app-header></app-header>
  <div class="block-container">
    <app-col-block
      *ngFor="let block of data"
      [block]="block"
      (blockCtaClick)="buttonClick($event)"
    ></app-col-block>
  </div>
  <app-modal
    [modalBlock]="modalBlock"
    (closeModal)="modalClose($event)"
  ></app-modal>
</div>

