<div [@simpleFadeAnimation] class="block__inner">
  <div class="block__image-holder">
    <img
      class="block__image"
      src="{{block.image}}"
      alt="{{block.alt}}"
    >
  </div>
  <h3 class="block__title">{{block.title}}</h3>
  <p class="block__text">{{block.text}}</p>
  <div class="block__button-container">
      <button
        class="block__button"
        type="button"
        (click)="clickButton($event, block.id)"
      >
        {{block.button}}
      </button>
  </div>
</div>
