@import '../../global/scss/mixins';

:host {
  &.block {
    display: flex;
    background: #dedede;
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    @include bp(md) {
      min-width: calc(33.3333% - 1rem);
      max-width: calc(33.3333% - 1rem);
      width: 33.3333;
      min-height: 40rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

.block {
  &__title,
  &__text {
    padding: 1.5rem;
    margin: 0;
  }
  &__title {
    font-weight: bold;
    padding-bottom: 0;
    font-size: 1.4rem;
  }
  &__text {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  &__image-holder {
    width: 100%;
    padding-bottom: (300/600) * 100%;
    position: relative;
    background: #444;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  &__button {
    appearance: none;
    background: #0a5899;
    color: #ffffff;
    border: none;
    margin: 1rem;
    padding: 1rem 1.5rem;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background 0.35s ease;

    &:hover {
      background: lighten(#1f76b3, 10%);
    }
  }
}

