@import '../../global/scss/mixins';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;

  &__title {
    font-weight: bold;
    padding-bottom: 0;
    font-size: 1.4rem;
    color: #b0116b
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  &__inner {
    position: absolute;
    margin: 2rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    @include bp(sm) {
      margin: 8rem;
    }
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 2rem;
    width: 100%;
    max-width: 80rem;
  }

  &__close {
    appearance: none;
    border-radius: 50%;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 1px solid #1f76b3;
    background: none;

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 1.8rem;
      text-align: center;
      content: 'X';
      display: block;
      top: 0;
      left: 0;
      text-indent: 0;
      font-size: 1.7rem;
      color: #1f76b3;
    }
  }
}
