<div
  (click)="closeModalClick($event)"
  [@simpleFadeAnimation]
  *ngIf="showModal()"
  class="modal"
>
  <div class="modal__inner">
    <div
      class="modal__content"
      role="alertdialog"
      aria-modal="true"
      aria-labelledby="modal-title"
      aria-describedby="modal-text"
    >
      <span class="a11y-hide" aria-live="assertive">Modal window opened</span>
      <button
        #closeModal
        class="modal__close"
        type="button"
        (click)="closeModalClick($event)"
        focus-on="modalBlock"

      >
        Close modal window
      </button>
      <h1 id="modal-title" class="modal__title">{{modalBlock.button}} – {{modalBlock.title}}</h1>
      <p id="modal-text" class="modal__text">{{modalBlock.text}}</p>
    </div>
  </div>
</div>
