*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background: #999;
  font-size: 10px;
  font-family: sans-serif;
  height: 100%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100%;
}

.a11y-hide {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
}
